// app global css in Sass form

$text-color-btn: #fff;
$text-color-btn-toolbar: $grey-4;
$text-color-btn-disable: $red;

$bg-color1: $grey-2;
$bg-color2: $grey-1;
$bg-caption: $blue-grey-9;
$bg-toolbar: $blue-grey-8;

.background-drawer {
  background-color: $bg-caption;
}
.append-icon {
  color: $bg-caption;
}

.bg {
  background-repeat: no-repeat;
  background-size: cover;
}
.bg-main {
  background-repeat: no-repeat;
  background-size: cover;
}
.main-panel {
  color: $text-color-btn-toolbar;
  background-color: $bg-caption;
}
.main-toolbar {
  color: $text-color-btn-toolbar;
  background-color: $bg-toolbar;
  padding: 5px 2px;
}
.btn-toolbar {
  color: $text-color-btn-toolbar;
  background-color: $bg-toolbar;
}
.btn-toolbar:hover {
  color: $bg-toolbar;
  background-color: #ffff;
}
.main-toolbar-disable {
  color: $text-color-btn-disable;
}
.dialog-caption {
  background-color: $bg-caption;
}
.dialog-caption-login {
  background-color: $bg-caption;
  color: white;
}
.dialog-action {
  background-color: $bg-caption;
  color: $text-color-btn;
}
.dialog-action-login {
  background-color: $bg-caption;
  color: $text-color-btn;
  font-size: 0.9em;
}
.dialog-action .q-btn:hover {
  background-color: #ffff;
  color: $bg-caption;
}
.dialog-action-btn {
  background-color: $primary;
}
.entry-caption {
  background-color: $bg-caption;
  color: #fff;
  font-size: 1em;
  padding: 5px 10px;
}
.entry-caption button:hover {
  background-color: #ffff;
  color: $bg-caption;
}
.page-app {
  background-color: $bg-color1;
  padding-top: 50px;
  padding-left: 5px;
  padding-right: 5px;
  @media (max-width: $breakpoint-xs-max) {
    background-color: $grey-5;
    padding-left: 1px;
    padding-right: 1px;
  }
}
.page-app-edit {
  background-color: $bg-color1;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  @media (max-width: $breakpoint-xs-max) {
    background-color: $bg-color1;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
  }
}
.page-app-report {
  padding-top: 101px;
}
.page-app-xs {
  padding-top: 110px;
}
.tooltips-app {
  background-color: $orange-10;
}
.page-title {
  color: dark;
  font-size: 1.2em;
  font-weight: bolder;
}
.grid-tables {
  background-color: $bg-color2;
  font-size: 12px;
  @media (max-width: $breakpoint-xs-max) {
    background-color: $bg-color2;
  }
}
.grid-data {
  font-size: 12px;
  @media (max-width: $breakpoint-xs-max) {
    font-size: 12px;
  }
}

.input {
  padding: 5px 5px;
  border: 0.5px solid #bebebe;
  border-width: thin;
  background-color: $bg-color2;
  text-transform: uppercase;
  @media (max-width: $breakpoint-xs-max) {
    background-color: $bg-color2;
  }
}
.input:hover {
  border: 1.5px solid $green-10;
}
.input:focus {
  outline: none !important;
  border-color: #719ece;
  background-color: #ffff;
  border: 1.5px solid $red-10;
}

.input select {
  background-color: white;
}
.input-uppercase {
  text-transform: uppercase;
}

.input-normal {
  padding: 3px 5px;
  border: 0.1px solid #bebebe;
  border-width: thin;
  background-color: $bg-color2;
  font-size: 11px;
  @media (max-width: $breakpoint-xs-max) {
    background-color: $bg-color2;
  }
}
.input-normal:focus {
  outline: none !important;
  border-color: #719ece;
  background-color: #ffff;
  border: 1.5px solid $red-10;
}
.input-normal select {
  background-color: white;
}

.right-input {
  text-align: right;
  text-transform: uppercase;
  padding: 5px 5px;
  border: 0.5px solid #bebebe;
  border-width: thin;
  background-color: $bg-color2;
  @media (max-width: $breakpoint-xs-max) {
    background-color: $bg-color2;
  }
}
.right-input:focus {
  outline: none !important;
  border-color: #719ece;
  background-color: #ffff;
  border: 1.5px solid $red-10;
}

.right-input:hover {
  border: 1.5px solid $green-10;
}

.right-input-normal {
  text-align: right;
  padding: 5px 5px;
  border: 0.5px solid #bebebe;
  border-width: thin;
  background-color: $bg-color2;
  @media (max-width: $breakpoint-xs-max) {
    background-color: $bg-color2;
  }
}

.select-input {
  padding: 3px 5px;
  border: 0.1px solid #bebebe;
  border-width: thin;
  background-color: $bg-color2;
  font-size: 11px;
  @media (max-width: $breakpoint-xs-max) {
    background-color: $bg-color2;
  }
}
.select-input:focus {
  outline: none !important;
  border-color: #719ece;
  background-color: #ffff;
  border: 1.5px solid $red-10;
}
.select-input:hover {
  border: 1.5px solid $green-10;
}
.select-input select {
  background-color: white;
}

.label-banded {
  color: red;
  font-size: 1.6em;
  font-weight: bolder;
  padding-top: 5px;
  padding-bottom: 5px;
}
.icard {
  background-color: $bg-color2;
  @media (max-width: $breakpoint-xs-max) {
    background-color: $bg-color2;
  }
}
.icard-report {
  background-color: white;
  color: black;
}
.report-caption {
  background-color: white;
  color: $grey-10;
  font-size: 1.2em;
}
.itable {
  background-color: $bg-color2;
  @media (max-width: $breakpoint-xs-max) {
    background-color: $bg-color2;
  }
}
.btn-operation {
  color: $green-10;
  background-color: #fff;
}
.btn-operation:hover {
  color: white;
  background-color: $green-10;
}
.my-sticky-table {
  /* height or max-height is important */
  height: 380px;

  .q-table__top,
  .q-table__bottom,
  thead tr:first-child th {
    /* bg color is important for th; just specify one */
    background-color: rgb(193, 244, 205);
  }
  thead tr th {
    position: sticky;
    z-index: 1;
  }
  thead tr:first-child th {
    top: 0;
  }
  /* this is when the loading indicator appears */
  &.q-table--loading thead tr:last-child th {
    /* height of all previous header rows */
    top: 48px;
  }
}
.filter-search {
  color: #fff;
}
.filter-search:focus {
  color: $red-10;
  background-color: #fff;
}

.fit-table-ui {
  height: -webkit-calc(100vh - 175px) !important;
  height: -moz-calc(100vh - 175px) !important;
  height: calc(100vh - 175px) !important;

  thead tr th {
    position: sticky;
    z-index: 1;
  }
  thead tr:first-child th {
    top: 0;
  }
  /* this is when the loading indicator appears */
  &.q-table--loading thead tr:last-child th {
    /* height of all previous header rows */
    top: 48px;
  }
}

.fit-table-ui-with-parameter-0 {
  height: -webkit-calc(100vh - 180px) !important;
  height: -moz-calc(100vh - 180px) !important;
  height: calc(100vh - 180px) !important;

  thead tr th {
    position: sticky;
    z-index: 1;
  }
  thead tr:first-child th {
    top: 0;
  }
  /* this is when the loading indicator appears */
  &.q-table--loading thead tr:last-child th {
    /* height of all previous header rows */
    top: 48px;
  }
}

.fit-table-ui-dialog {
  height: -webkit-calc(100vh - 175px) !important;
  height: -moz-calc(100vh - 175px) !important;
  height: calc(100vh - 175px) !important;

  thead tr th {
    position: sticky;
    z-index: 1;
  }
  thead tr:first-child th {
    top: 0;
  }
  /* this is when the loading indicator appears */
  &.q-table--loading thead tr:last-child th {
    /* height of all previous header rows */
    top: 48px;
  }
}
.fit-table-ui-dialog-with-parameter {
  height: -webkit-calc(100vh - 235px) !important;
  height: -moz-calc(100vh - 235px) !important;
  height: calc(100vh - 235px) !important;

  thead tr th {
    position: sticky;
    z-index: 1;
  }
  thead tr:first-child th {
    top: 0;
  }
  /* this is when the loading indicator appears */
  &.q-table--loading thead tr:last-child th {
    /* height of all previous header rows */
    top: 48px;
  }
}
.btn-toolbar:hover {
  color: $bg-toolbar;
  background-color: #ffff;
}
.btn-link {
  color: $blue;
  background-color: #fff;
}

.btn-link:hover {
  color: $blue;
  text-decoration: underline;
}
